.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page-header {
  color: white;
  margin-bottom: 46px;
  background-color: #1d2631;
  background: url(../img/back-mobile.png) no-repeat 50% / cover;
}
.page-header__head-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 280px;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
}
@media (min-width: 660px) {
  .page-header__head-wrapper {
    max-width: 620px;
  }
}
@media (min-width: 1200px) {
  .page-header__head-wrapper {
    max-width: 940px;
  }
}
.page-header-title {
  max-width: 280px;
  font-weight: 300;
  font-size: 24px;
  text-align: center;
  margin: 0 auto;
  margin-top: 29px;
}
@media (min-width: 660px) {
  .page-header-title--index {
    margin-left: 0px;
    text-align: center;
    max-width: 300px;
    font-size: 40px;
    font-weight: 300;
    line-height: 120%;
  }
}
.page-header__wrapper--tablet {
  background: url(../img/phone-in-hand.png) no-repeat 50% 30%;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 660px) {
  .page-header__wrapper--tablet {
    background-position: 130% 100%;
    background-size: 400px;
    max-width: 280px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 660px) and (min-width: 660px) {
  .page-header__wrapper--tablet {
    max-width: 620px;
  }
}
@media (min-width: 660px) and (min-width: 1200px) {
  .page-header__wrapper--tablet {
    max-width: 940px;
  }
}
@media (min-width: 1200px) {
  .page-header__wrapper--tablet {
    background-position: 100% 100%;
    background-size: 470px;
    max-width: 280px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1200px) and (min-width: 660px) {
  .page-header__wrapper--tablet {
    max-width: 620px;
  }
}
@media (min-width: 1200px) and (min-width: 1200px) {
  .page-header__wrapper--tablet {
    max-width: 940px;
  }
}
.page {
  width: 100%;
  height: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 27px;
}
.page__body {
  margin: 0;
  display: grid;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100%;
}
.application {
  text-align: center;
  margin-top: 350px;
  padding-top: 28px;
  padding-bottom: 38px;
  max-width: 280px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 660px) {
  .application {
    max-width: 620px;
  }
}
@media (min-width: 1200px) {
  .application {
    max-width: 940px;
  }
}
@media (min-width: 660px) {
  .application {
    margin-left: 0px;
    margin-top: 30px;
    max-width: 300px;
  }
}
.application__wrapper {
  background: #1D2631;
}
@media (min-width: 660px) {
  .application__wrapper {
    background: none;
  }
}
.application a {
  text-decoration: none;
  color: white;
}
.application__link {
  display: block;
  font-size: 18px;
  line-height: 45px;
  font-weight: 700;
  max-width: 300px;
  height: 55px;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid #ffffff;
  box-sizing: border-box;
  border-radius: 29px;
}
.application__list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  justify-content: space-around;
  margin-top: 32px;
}
.application__item:nth-child(2) {
  margin-top: 4px;
}
.application__item:nth-child(3) {
  margin-top: 12px;
}
@media (min-width: 660px) {
  .application__legend {
    font-size: 18px;
  }
}
.about-application {
  text-align: center;
}
.about-application__wrapper {
  background: #f2f2f2;
  position: relative;
  margin-top: 130px;
}
.about-application__wrapper::before {
  content: "";
  width: 110%;
  height: 200px;
  background: #f2f2f2;
  display: block;
  transform: rotate(-5deg);
  margin-left: -5%;
  top: -70px;
  z-index: -1;
  position: absolute;
}
.about-application__item {
  max-width: 280px;
  margin: 0 auto;
  position: relative;
}
@media (min-width: 660px) {
  .about-application__item {
    margin-left: 350px;
    text-align: left;
  }
}
@media (min-width: 1200px) {
  .about-application__item {
    margin: 0;
    text-align: center;
    max-width: 252px;
    padding-top: 300px;
  }
  .about-application__item--1::before {
    content: "";
    width: 275px;
    height: 300px;
    position: absolute;
    top: -70px;
    right: 0px;
    background: url(../img/item-1.png) no-repeat;
  }
  .about-application__item--2::before {
    content: "";
    width: 275px;
    height: 300px;
    position: absolute;
    top: -70px;
    right: 0px;
    background: url(../img/item-2.png) no-repeat;
  }
  .about-application__item--3::before {
    content: "";
    width: 275px;
    height: 300px;
    position: absolute;
    top: -70px;
    right: 0px;
    background: url(../img/item-3.png) no-repeat;
  }
}
.about-application__items {
  max-width: 280px;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
  background: url(../img/phone.svg) no-repeat 50% 109%;
  padding-bottom: 330px;
}
@media (min-width: 660px) {
  .about-application__items {
    max-width: 620px;
  }
}
@media (min-width: 1200px) {
  .about-application__items {
    max-width: 940px;
  }
}
@media (min-width: 660px) {
  .about-application__items {
    background-position: 6% 48%;
    background-size: 268px;
    padding-bottom: 0;
    padding-top: 20px;
  }
}
@media (min-width: 1200px) {
  .about-application__items {
    display: flex;
    justify-content: space-between;
    background: 0;
    margin-top: 100px;
  }
}
.about-application__slogan {
  max-width: 280px;
  font-weight: 300;
  font-size: 24px;
  color: #283645;
  margin: 0 auto;
  margin-bottom: 50px;
}
@media (min-width: 660px) {
  .about-application__slogan {
    font-size: 40px;
    max-width: 588px;
  }
}
.about-application__title {
  font-size: 18px;
  color: #000000;
}
@media (min-width: 1200px) {
  .about-application__title {
    font-size: 30px;
  }
}
.about-application__content {
  font-size: 14px;
  line-height: 24px;
  color: #283645;
}
@media (min-width: 1200px) {
  .about-application__content {
    font-size: 18px;
  }
}
.reviews {
  margin-top: 50px;
  margin-bottom: 143px;
  max-width: 280px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 660px) {
  .reviews {
    max-width: 620px;
  }
}
@media (min-width: 1200px) {
  .reviews {
    max-width: 940px;
  }
}
.reviews__author-name {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  align-items: center;
  text-align: center;
}
@media (min-width: 660px) {
  .reviews__author-name {
    order: 1;
    font-size: 20px;
  }
}
.reviews__author-info {
  color: #283645;
  font-weight: 400;
  text-align: center;
  order: 3;
}
.reviews__text {
  font-size: 14px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  color: #283645;
}
.reviews__item {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  max-width: 688px;
  margin-left: auto;
  margin-right: auto;
}
.slider__buttons {
  display: flex;
  justify-content: center;
}
.slider__toggle {
  padding: 0;
  width: 6px;
  height: 6px;
  background-color: #bec2c7;
  border: 0;
  border-radius: 50%;
  margin-right: 19px;
}
.slider__toggle--current {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin-right: 19px;
  background: #ffffff;
  border: 3px solid #283645;
}
.slider__item {
  display: none;
}
.slider__item--active {
  display: flex;
  flex-direction: column;
}
.page-footer__contacts {
  align-content: center;
  text-align: center;
}
.page-footer__text {
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  color: #283645;
}
.page-footer__contacts p {
  font-size: 18px;
  line-height: 25px;
  color: #283645;
  font-weight: bold;
}
.page-footer__contacts a {
  color: #d22856;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  text-decoration: none;
}
.page-footer__item {
  display: inline-block;
}
@media (min-width: 660px) {
  .page-footer__item {
    margin-left: 50px;
  }
}
.page-footer__map {
  border: 0;
}
.page-footer__wrapper {
  max-width: 280px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 660px) {
  .page-footer__wrapper {
    max-width: 620px;
  }
}
@media (min-width: 1200px) {
  .page-footer__wrapper {
    max-width: 940px;
  }
}
@media (min-width: 660px) {
  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
  }
}
.social {
  max-width: 280px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 660px) {
  .social {
    max-width: 620px;
  }
}
@media (min-width: 1200px) {
  .social {
    max-width: 940px;
  }
}
.social__list {
  display: flex;
  list-style: none;
  justify-content: center;
}
.social__item {
  width: 48px;
  height: 48px;
  line-height: 48px;
  border: 3px solid #283645;
  border-radius: 50%;
  text-align: center;
  margin-right: 14px;
}
.copyright {
  display: flex;
  justify-content: center;
}
.copyright__link {
  margin-left: 15px;
  margin-top: 10px;
}
.main-nav {
  display: flex;
  flex-direction: column;
  margin-left: calc((280px - 100vw) / 2);
}
@media (min-width: 660px) {
  .main-nav {
    margin-left: calc((620px - 100vw) / 2);
  }
}
@media (min-width: 1200px) {
  .main-nav {
    max-width: 280px;
    margin-left: auto;
    margin-right: auto;
    padding: 22px 0;
  }
}
@media (min-width: 1200px) and (min-width: 660px) {
  .main-nav {
    max-width: 620px;
  }
}
@media (min-width: 1200px) and (min-width: 1200px) {
  .main-nav {
    max-width: 940px;
  }
}
.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100vw;
  text-align: center;
}
@media (min-width: 1200px) {
  .main-nav__list {
    display: flex;
    justify-content: space-between;
    max-width: 280px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1200px) and (min-width: 660px) {
  .main-nav__list {
    max-width: 620px;
  }
}
@media (min-width: 1200px) and (min-width: 1200px) {
  .main-nav__list {
    max-width: 940px;
  }
}
.main-nav__item {
  margin: 0;
  padding: 20px;
  background: #283645;
  box-shadow: 0px 1px 0px #000000, inset 0px 1px 0px rgba(255, 255, 255, 0.15);
}
.main-nav__item--logo {
  display: flex;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.3);
}
.main-nav__item--open {
  background: #283645;
}
@media (min-width: 1200px) {
  .main-nav__item {
    padding: 0;
    background: none;
    box-shadow: none;
    justify-content: space-around;
  }
}
.main-nav__wrapper {
  display: none;
}
.main-nav__wrapper--open {
  display: block;
}
@media (min-width: 1200px) {
  .main-nav__wrapper--open {
    display: flex;
    justify-content: space-between;
    width: 620px;
  }
}
.main-nav__item a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}
@media (min-width: 1200px) {
  .main-nav__toggle {
    display: none;
  }
}
.user-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 280px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 660px) {
  .user-form {
    max-width: 620px;
  }
}
@media (min-width: 1200px) {
  .user-form {
    max-width: 940px;
  }
}
@media (min-width: 660px) {
  .user-form {
    flex-direction: row;
  }
}
.user-form__item {
  padding: 0;
  border: 0;
}
@media (min-width: 660px) {
  .user-form__item:nth-child(2) {
    order: -3;
  }
  .user-form__item:nth-child(5) {
    order: -2;
  }
}
@media (min-width: 1200px) {
  .user-form__item {
    width: 100%;
  }
  .user-form__item:nth-child(2) {
    width: 50%;
  }
  .user-form__item:nth-child(5) {
    width: 49%;
  }
}
.user-form__title {
  max-width: 280px;
  margin-left: auto;
  margin-right: auto;
  color: #283645;
  text-align: center;
  order: -4;
}
@media (min-width: 660px) {
  .user-form__title {
    max-width: 620px;
  }
}
@media (min-width: 1200px) {
  .user-form__title {
    max-width: 940px;
  }
}
@media (min-width: 660px) {
  .user-form__title {
    font-size: 18px;
  }
}
.user-form__legend {
  color: #d22856;
  text-align: center;
  text-transform: uppercase;
}
.user-form__submit {
  max-width: 280px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 660px) {
  .user-form__submit {
    max-width: 620px;
  }
}
@media (min-width: 1200px) {
  .user-form__submit {
    max-width: 940px;
  }
}
.user-form__submit-button {
  width: 279px;
  height: 59px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  background: #2AAB6D;
  border: 2px solid #2AAB6D;
  border-radius: 1px;
}
.user-form__achievements {
  margin: 0;
  padding: 0;
}
@media (min-width: 1200px) {
  .user-form__achievements {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.user-form__achievements-item {
  font-size: 18px;
  list-style: none;
  color: #283645;
}
.user-form__achievements-item:not(:last-child) {
  margin-bottom: 59px;
}
.user-form__application {
  margin: 0;
  padding: 0;
}
.user-form__application-item {
  font-size: 18px;
  list-style: none;
  color: #283645;
}
@media (min-width: 660px) {
  .user-info__item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
}
.user-info__label {
  font-size: 14px;
  color: #d22856;
  text-transform: uppercase;
  margin-left: 24px;
}
@media (min-width: 660px) {
  .user-info__label {
    margin-right: 20px;
  }
}
.user-info__text {
  width: 276px;
  height: 59px;
  font-size: 18px;
  color: #283645;
  padding-left: 20px;
  box-sizing: border-box;
  flex-grow: 1;
}
.user-info {
  margin: 0;
  padding: 0;
  list-style: none;
}
.fhotogalery__title {
  text-align: center;
  color: #283645;
}
.user-photos {
  display: block;
  max-width: 280px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 660px) {
  .user-photos {
    max-width: 620px;
  }
}
@media (min-width: 1200px) {
  .user-photos {
    max-width: 940px;
  }
}
@media (min-width: 660px) {
  .user-photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 940px;
    margin-left: auto;
    margin-right: auto;
  }
}
.user-photos__item {
  max-width: 320px;
}
.user-photos__comments {
  display: block;
  margin-left: 17px;
  box-sizing: border-box;
}
.user-comments {
  width: 253px;
  margin-left: 17px;
}
.user-comments__username {
  color: #283645;
  font-weight: bold;
}
.user-comments__time {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}
.user-comments__comment {
  color: #283645;
}
.user-comments--photo-of-the-day {
  max-width: 280px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 660px) {
  .user-comments--photo-of-the-day {
    max-width: 620px;
  }
}
@media (min-width: 1200px) {
  .user-comments--photo-of-the-day {
    max-width: 940px;
  }
}
.like {
  border: 0;
  background: none;
  color: #d22856;
  text-transform: uppercase;
}
.photo-load {
  text-align: center;
}
.photo-load__title {
  color: #283645;
}
.tools {
  text-align: center;
}
.tools button {
  margin: 0 auto;
  border: none;
  background: none;
}
.tools__post {
  font-size: 18px;
  font-weight: 700;
  display: block;
  width: 280px;
  height: 55px;
  border: 3px solid #d22856;
  border-radius: 30px;
  color: #d22856;
}
.price {
  overflow: hidden;
}
.price__list {
  width: 300%;
  text-align: center;
  transform: translateX(-32%);
  transition: 0.5s;
}
@media (min-width: 660px) {
  .price__list {
    max-width: 280px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 660px) and (min-width: 660px) {
  .price__list {
    max-width: 620px;
  }
}
@media (min-width: 660px) and (min-width: 1200px) {
  .price__list {
    max-width: 940px;
  }
}
.price__empty-cell {
  display: none;
  background-color: white;
}
@media (min-width: 660px) {
  .price__empty-cell {
    display: block;
    background-color: white;
  }
}
.price__title {
  width: 276px;
  margin-left: 2px;
  background: #283645;
  border: 2px solid #283645;
  border-radius: 1px 0px 0px 0px;
  box-sizing: border-box;
}
.price__item td:first-child {
  display: none;
}
@media (min-width: 660px) {
  .price__item td:first-child {
    display: block;
  }
}
@media (min-width: 660px) {
  .price__button {
    display: none;
  }
}
.effect {
  display: none;
  padding-left: 350px;
  padding-top: 20px;
  background: url(../img/timer.png) no-repeat 6% 0%;
  min-height: 300px;
  margin-top: 100px;
  box-sizing: border-box;
}
@media (min-width: 660px) {
  .effect {
    display: block;
    max-width: 280px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 660px) and (min-width: 660px) {
  .effect {
    max-width: 620px;
  }
}
@media (min-width: 660px) and (min-width: 1200px) {
  .effect {
    max-width: 940px;
  }
}
.effect__title {
  max-width: 168px;
  font-size: 30px;
  font-weight: bold;
}
@media (min-width: 660px) {
  .effect__title {
    max-width: 600px;
  }
}
.effect__content {
  max-width: 310px;
  line-height: 24px;
  color: #283645;
}
@media (min-width: 1200px) {
  .effect__content {
    font-size: 18px;
    max-width: 534px;
  }
}
.effect__link {
  color: #d22856;
}
@media (min-width: 1200px) {
  .effect__link {
    font-size: 18px;
  }
}
.photo-of-the-day {
  -o-object-fit: cover;
     object-fit: cover;
}
.wrap {
  max-width: 280px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 660px) {
  .wrap {
    max-width: 620px;
  }
}
@media (min-width: 1200px) {
  .wrap {
    max-width: 940px;
  }
}

/*# sourceMappingURL=style.css.map */
