.about-application {
  text-align: center;
}

.about-application__items {
  background-color: #f2f2f2;
}

.about-application__slogan {
  font-weight: 300;
  font-size: 24px;
  color: #283645;
}

.about-application__title {
  font-size: 18px;
  color: #000000;
}

.about-application__content {
  font-size: 14px;
  line-height: 24px;
  color: #283645;
}
