.page-header__application{
  text-align: center;
}
.page-header__application a{
  color: white;
  text-decoration: none;
}
.links__list{
  display: flex;
  justify-content: center;
}
.links__item{
  list-style: none;
  margin-right: 35px;
}
