.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: 9px;
  top: -8px;
  width: 37px;
  height: 37px;
  border: 2px solid #e5e5e5;
  border-radius: 50px;
  background: #ffffff;

  @media (min-width: @desktop-width) {
    left: 24px;
  }
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 22px;
  width: 15px;
  height: 15px;
  background-color: #d22856;
  border-radius: 50%;

  @media (min-width: @desktop-width) {
    left: 37px;
  }
}

.filter-input-radio:hover + label::before {
  border: 2px solid #283645;
}

.filter-input-radio:active + label::before {
  border: 2px solid #d22856;
}

.filter-input-radio:focus + label::before {
  border-color: #d22856;
}
