.main-nav {
  display: flex;
  @media (min-width: @desktop-width) {
  }
}

.main-nav__list {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 620px;

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;

  }
}

.main-nav__list a {
  color: white;
}
.main-nav__toggle{
  @media (min-width: @desktop-width) {
    display: none;
  }
}
