.page-header{
  color: white;
  background-color: #1D2631;
  outline: 1px solid red;
  margin-bottom: 46px;
}
.page-header__wrapper{
  background-image: url(../img/back-mobile.png);
  background-repeat: no-repeat;
  margin: 0 auto;
  background-position: 0 0;
  background-size: cover;
}
.page-header__head{
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.main-nav__item a{
  color: white;
}
.main-nav{
  display: flex;
}
.main-nav__list{
  display: none;
}
.page-header__intro{
  text-align: center;
}
