.page-header{
  color: white;
}
.page-header__head{
  display: flex;
  justify-content: space-between;
}
.page-header__wrapper{
  background-image: url(../img/back-mobile.png);
  height: 462px;
  width: 320px;
  background-repeat: no-repeat;
	background-position: 0 0;
}
.main-nav__item a{
  color: white;
}
