.page-header {
  color: white;
  margin-bottom: 46px;
  background-color: #1d2631;
  background: url(../img/back-mobile.png) no-repeat 50% /cover;
}

.page-header__head-wrapper {
  display: flex;
  justify-content: space-between;
  .wrap();

  flex-direction: column;
}

// .page-header__head {
//   background: rgba(0, 0, 0, 0.3);
// }

.page-header-title {
  max-width: 280px;
  font-weight: 300;
  font-size: 24px;
  text-align: center;
  margin: 0 auto;
  margin-top: 29px;
}

.page-header-title--index {
  @media (min-width: @tablet-width) {
    margin-left: 0px;
    text-align: center;
    max-width: 300px;
    font-size: 40px;
    font-weight: 300;
    line-height: 120%;
  }
}
.page-header__wrapper--tablet{
  background: url(../img/phone-in-hand.png) no-repeat 50% 30%;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: @tablet-width) {
    background-position: 130% 100%;
    background-size: 400px;
    .wrap ();
  }

  @media (min-width: @desktop-width) {
    background-position: 100% 100%;
    background-size: 470px;
    .wrap ();
  }
}
