.page-footer__contacts {
  align-content: center;
  text-align: center;
}

.page-footer__text {
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  color: #283645;
}

.page-footer__contacts p {
  font-size: 18px;
  line-height: 25px;
  color: #283645;
  font-weight: bold;
}

.page-footer__contacts a {
  color: #d22856;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  text-decoration: none;
}
.page-footer__item{
  display: inline-block;

  @media (min-width: @tablet-width) {
    margin-left: 50px;
  }
}
.page-footer__map {
  border: 0;
}
