.price {
  overflow: hidden;
}

.price__list {
  width: 300%;
  text-align: center;
  transform: translateX(-32%);
  transition: 0.5s;

  @media (min-width: @tablet-width) {
    .wrap ();
  }
}

.price__empty-cell {
  display: none;
  background-color: white;

  @media (min-width: @tablet-width) {
    display: block;
    background-color: white;
  }
}

.price__title {
  width: 276px;
  margin-left: 2px;
  background: #283645;
  border: 2px solid #283645;
  border-radius: 1px 0px 0px 0px;
  box-sizing: border-box;
}

.price__item td:first-child {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}
.price__button{
  @media (min-width: @tablet-width) {
    display: none;
  }
}
