.price {
  overflow: hidden;
}

.price__list {
  width: 300%;
  text-align: center;
  transform: translateX(-33%);
  transition: 0.5s;
}

.price__item td:first-child {
  display: none;
}

.price__empty-cell {
  display: none;
}
