.reviews {
  margin-bottom: 143px;
  .wrap();
}

.reviews__author-name {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  align-items: center;
  text-align: center;

  @media (min-width: @tablet-width) {
    order: 1;
    font-size: 20px;
  }
}
.reviews__author-info {
  color: #283645;
  font-weight: 400;
  text-align: center;
  order: 3
}

.reviews__text {
  font-size: 14px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  color: #283645;
}

.reviews__item {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  max-width: 688px;
  margin-left: auto;
  margin-right: auto;
}
