.reviews{
  margin-bottom: 143px;
}
.reviews__author-name{
  font-size: 18px;
  line-height: 30px;
  align-items: center;
  text-align: center;
}
.reviews__text{
  font-size: 14px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  color: #283645;
}
