.slider__buttons {
  display: flex;
  justify-content: center;
}

.slider__toggle {
  padding: 0;
  width: 6px;
  height: 6px;
  background-color: #bec2c7;
  border: 0;
  border-radius: 50%;
  margin-right: 19px;
}

.slider__toggle--current {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin-right: 19px;
  background: #ffffff;
  border: 3px solid #283645;
}
.slider__item{
  display: none;
}
.slider__item--active {
  display: flex;
  flex-direction: column;
}
