.slider__buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  align-items: center;

  @media (min-width: @tablet-width) {
    margin-top: 42px;
  }
}

.slider__toggle {
  padding: 0;
  width: 6px;
  height: 6px;
  background-color: #283645;
  opacity: 0.3;
  border: 0;
  border-radius: 50%;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.1;
  }

  &--current {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #ffffff;
    border: 3px solid #283645;
    opacity: 1;
    box-sizing: content-box;
  }
}

.slider__toggle:not(:last-child) {
  margin-right: 19px;
}

.slider__item {
  display: none;
}

.slider__item--active {
  display: flex;
  flex-direction: column;
}
