.slider__buttons {
  display: flex;
  justify-content: center;
  margin-top: 14px;
  align-items: center;

  &--price {
    margin-top: 41px;
  }

  @media (min-width: @tablet-width) {
    margin-top: 42px;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.slider__toggle {
  padding: 0;
  width: 6px;
  height: 6px;
  background-color: #283645;
  opacity: 0.3;
  border: 0;
  border-radius: 50%;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.1;
  }

  &--current {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #ffffff;
    border: 3px solid #283645;
    opacity: 1;
    box-sizing: content-box;
  }
}

.slider__toggle:not(:last-child) {
  margin-right: 19px;
}

.slider__toggle-desktop {
  display: none;
  position: absolute;
  width: 22px;
  height: 41px;
  top: 151px;
  left: 0;
  background: 0;
  background-image: url("../img/left-arrow.svg");
  border: 0;
  outline: none;
  cursor: pointer;

  &--2 {
    top: 151px;
    left: 918px;
    transform: rotate(-180deg);
  }

  @media (min-width: @desktop-width) {
    display: block;
  }
}
