.tools {
  text-align: center;
  margin-top: 38px;
  padding-bottom: 43px;
}

.tools button {
  background: none;
}

.tools__changes {
  display: flex;
  justify-content: space-around;
  .wrap();

  @media (min-width: @tablet-width) {
    flex-direction: column;
    text-align: left;
    margin-left: 20px;
  }
}

.tools__size {
  margin-left: 19px;
}

.tools__color {
  margin-top: auto;
}

.tools__shadow {
  margin-top: 6px;
  margin-right: 31px;
}

.tools__button {
  font-family: "Open Sans", sans-serif;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  display: block;
  width: 280px;
  height: 55px;
  border: 3px solid #d22856;
  border-radius: 30px;
  color: #d22856;
  margin-top: 10px;
  box-sizing: border-box;

  &--cancell {
    color: #283645;
    border: 3px solid #283645;
    opacity: 0.1;
    line-height: 50px;
  }
}
