.user-form {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
}

.user-form__item {
  padding: 0;
  border: 0;
}

.user-form__title {
  color: #283645;
  text-align: center;
  margin: 0 20px;
}

.user-form__legend {
  color: #d22856;
  text-align: center;
  text-transform: uppercase;
}
