.user-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: @tablet-width) {
      flex-direction: row;
      .wrap ();
  }
}

.user-form__item-wrapper-achievements, .user-form__item-wrapper-app {
  width: 100%;
  background: #F2F2F2;

  @media (min-width: @tablet-width) {
    background: 0;
   }
}

.user-form__item-wrapper-achievements fieldset, .user-form__item-wrapper-app fieldset {

  @media (min-width: @tablet-width) {
    border: 2px solid #E5E5E5;
    border-radius: 1px;
   }
}

.user-form__item-wrapper-app {

  @media (min-width: @tablet-width) {
    order: 0;
   }

   @media (min-width: @desktop-width) {
     width: 432px;
     margin-left: 72px;
    }
}

.user-form__item-wrapper-achievements {

  @media (min-width: @tablet-width) {
    order: 5;
   }
}

.user-form__item {
  width: 100%;
  padding: 0;
  border: 0;
  margin-top: 44px;
  .wrap ();

  @media (min-width: @tablet-width) {
    &:nth-child(2){
      order: 0;
    }
    &:nth-child(3){
      order: 0;
    }
    &:nth-child(4){

      order: 4;

    }
    &:nth-child(6){
      border: 2px solid #E5E5E5;
      border-radius: 1px;
      padding: 47px 53px 60px;
      order: 6;
 }
}

   @media (min-width: @desktop-width) {
     width: 100%;
     &:nth-child(2){
       width: 432px;
     }
    }
  }



.user-form__title {
  .wrap ();
  color: #283645;
  text-align: center;
  order: -4;

  @media (min-width: @tablet-width) {
    font-size: 18px;
  }
}

.user-form__legend {
  color: #d22856;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    padding: 0 31px;
  }
}

.user-form__submit {
  .wrap ();
  order: 7;
}

.user-form__submit-button {
  width: 279px;
  height: 59px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  background: #2AAB6D;
  border: 2px solid #2AAB6D;
  border-radius: 1px;
}

.user-form__achievements {
  margin-top: 55px;
  margin-bottom: 55px;
  padding: 0;

  @media (min-width: @tablet-width) {
    margin-left: 60px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   }
 }


.user-form__achievements-item {
  font-size: 18px;
  list-style: none;
  color: #283645;
  padding-left: 44px;
  position: relative;
}

.user-form__achievements-item:not(:last-child) {
  margin-bottom: 59px;
}

@media (min-width: @desktop-width) {
  .user-form__achievements-item {
    margin-bottom: 59px;
  }
}
.user-form__application {
  margin: 0;
  padding: 0;
  margin-top: 52px;

  @media (min-width: @tablet-width) {
    margin-left: 60px;
  }
}
.user-form__application-item {
  font-size: 18px;
  list-style: none;
  color: #283645;
  margin-bottom: 62px;
  padding-left: 68px;
  position: relative;
}

.user-form__text-of-the-letter-label {
  display: block;
  color: #d22856;
  text-align: center;
  text-transform: uppercase;
}

.user-form__text-of-the-letter {
  width: 276px;

  @media (min-width: @tablet-width) {
    width: 496px;
  }

  @media (min-width: @desktop-width) {
    width: 816px;
  }
}
