.user-info__item {
  .wrap ();

  @media (min-width: @tablet-width) {
    display: flex;
    align-items: center;
    margin-bottom: 41px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 42px;
  }

  &--user-address {
    @media (min-width: @tablet-width) {
      flex-direction: column-reverse;
      align-items: flex-start;
      margin-left: 57px;
      margin-bottom: 0;
      margin-top: 25px;
    }

    @media (min-width: @desktop-width) {
      margin-left: 58px;
      margin-right: 12px;
    }
  }
}

.user-info__item:not(:first-child) {
  margin-top: 22px;

  @media (min-width: @tablet-width) {
    margin-top: 24px;
  }
}

.user-info__label {
  font-size: 14px;
  font-weight: normal;
  color: #d22856;
  text-transform: uppercase;
  margin-left: 23px;
  position: relative;

  @media (min-width: @tablet-width) {
    margin-right: 18px;
    margin-left: 0;
    margin-top: 12px;
  }

  &--user-address {
    @media (min-width: @tablet-width) {
      margin-left: 19px;
      margin-top: 15px;
    }
  }
}

.user-info__text {
  width: 280px;
  height: 63px;
  font-size: 18px;
  font-weight: normal;
  font-family: "Open Sans", sans-serif;
  color: #283645;
  margin-top: 11px;
  padding-left: 20px;
  box-sizing: border-box;
  flex-grow: 1;
  border: 2px solid #e5e5e5;
  border-radius: 1px;
  position: relative;

  &:hover {
    border-color: #283645;
  }

  &:focus {
    border-color: #d22856;
    outline: none;
  }

  &--user-address {
    @media (min-width: @tablet-width) {
      width: 500px;
    }

    @media (min-width: @desktop-width) {
      width: 375px;
      max-height: 63px;
    }
  }

  &--phone {
    @media (min-width: @tablet-width) {
      background: url("../img/phone-input.svg") no-repeat 100%;
    }
  }

  &--mail {
    @media (min-width: @tablet-width) {
      background: url("../img/mail-input.svg") no-repeat 100%;
    }
  }
}

.user-info {
  margin: 0;
  padding: 0;
  list-style: none;

  &--user-address {
    @media (min-width: @tablet-width) {
      margin-top: 12px;
      margin-bottom: 33px;
    }

    @media (min-width: @desktop-width) {
      display: flex;
      margin-top: -2px;
      margin-bottom: 19px;
    }
  }
}
